<div>

    <div *ngIf="paycheck?.employee" class="row mb-5">
        <div class="col">
            <h2>Breakdown of Benefit Deductions for {{paycheck.employee.firstName}} {{paycheck.employee.lastName}}</h2>
        </div>
    </div>

    <section *ngIf="paycheck?.employee" class="row" id="employeeDeductions">
        <div class="col">
            <h3>Employee</h3>
            <table class="table table-striped" summary="Table showing breakdown of fees for the employee" id="employeeDeductionsTable">
                <thead>
                    <th>Gross Deduction</th>
                    <th>Total Discounts</th>
                    <th>Net Deduction</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{paycheck.employee.deductions.gross | currency}}</td>
                        <td>{{paycheck.employee.deductions.discount | currency}}</td>
                        <td>{{paycheck.employee.deductions.gross | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section *ngIf="paycheck?.dependents" class="row" id="dependentDeductions">
        <div class="col">
            <h3>Dependents</h3>

            <div *ngIf="paycheck.dependents.length > 0">

                <table class="table table-striped" summary="Table showing breakdown of fees for each dependent" id="dependentDeductionsTable">
                    <thead>
                        <th>Name</th>
                        <th>Gross Deduction</th>
                        <th>Total Discounts</th>
                        <th>Net Deduction</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dependent of paycheck.dependents">
                            <td>{{dependent.firstName}} {{dependent.lastName}}</td>
                            <td>{{dependent.deductions.gross | currency}}</td>
                            <td>{{dependent.deductions.discount | currency}}</td>
                            <td>{{dependent.deductions.net | currency}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div *ngIf="paycheck.dependents.length == 0" id="noDependentsMessage">

                <p>Not Applicable</p>

            </div>

        </div>
    </section>

    <section *ngIf="paycheck?.totalDeductions" class="row" id="totalDeductions">
        <div class="col">
            <h3>Totals</h3>

            <table class="table table-striped" summary="Table showing total gross fees, total discounts, and total net fees" id="totalDeductionsTable">
                <thead>
                    <th>Base Pay</th>
                    <th>Gross Deductions</th>
                    <th>Total Discounts</th>
                    <th>Net Deductions</th>
                    <th>Net Pay</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{paycheck.biweeklyBase | currency}}</td>
                        <td>{{paycheck.totalDeductions.gross | currency}}</td>
                        <td>{{paycheck.totalDeductions.discount | currency}}</td>
                        <td>{{paycheck.totalDeductions.net | currency}}</td>
                        <td>{{paycheck.netPay | currency}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </section>

</div>