<div class="container-fluid">

    <div class="jumbotron">
        <img src="../../assets/paylocity-logo.png">
        <h1 class="benefits-worksheet-title">Benefit Deductions Worksheet</h1>
    </div>

    <div id="benefitsForm" *ngIf="!showItemizedFees">
        <benefits-form [submittedForm]="submittedForm" (formSubmitted)="formSubmittedHandler($event)"></benefits-form>
    </div>

    <div id="itemizedFees" *ngIf="showItemizedFees">

        <itemized-fees [feeInfo]="feeInfo"></itemized-fees>

        <div class="form-row mt-5 mb-5">
            <button id="resetWorksheetButton" type="button" class="btn btn-primary mr-3"
                (click)="resetWorksheet()">Reset Worksheet</button>
            <button id="editWorksheetButton" type="button" class="btn btn-primary" (click)="editWorksheet()">Edit
                Worksheet</button>
        </div>

    </div>

</div>