<p class="lead">All fields are required unless otherwise indicated.</p>

<form [formGroup]="benefitsForm" (ngSubmit)="calculateDeductions()">

    <fieldset formGroupName="employee">
        <legend>Employee</legend>

        <div class="form-row">
            <div class="form-group col">
                <label for="employeeFirstName">First Name</label>
                <input id="employeeFirstName" class="form-control" type="text" formControlName="firstName">
            </div>

            <div class="form-group col">
                <label for="employeeLastName">Last Name</label>
                <input id="employeeLastName" class="form-control" type="text" formControlName="lastName">
            </div>
        </div>

    </fieldset>

    <fieldset>

        <legend>Dependents ({{totalDependents}})</legend>

        <div formArrayName="dependents" *ngFor="let dependent of dependents.controls; let i = index;">
            <p class="dependent-inputs-header">Dependent {{i + 1}}</p>
            <div [formGroupName]="i" class="form-row">
                <div class="form-group col">
                    <label for="dependent-first-{{i}}"> First Name</label>
                    <input id="dependent-first-{{i}}" class="form-control" formControlName="firstName" placeholder="First Name">
                </div>

                <div class="form-group col">
                    <label for="dependent-last-{{i}}"> Last Name</label>
                    <input id="dependent-last-{{i}}" class="form-control" formControlName="lastName" placeholder="Last Name">
                </div>

                <div class="form-group col align-self-end">
                    <button type="button" class="btn btn-danger" (click)="removeDependent(i)">Remove</button>
                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-outline-primary" (click)="addDependent()">Add Dependent</button>
            </div>
        </div>

    </fieldset>

    <div class="row mt-5 mb-5">
        <div class="col">
            <button id="calculateButton" class="btn btn-primary" type="submit"
                [disabled]="!benefitsForm.valid">Calculate Deductions</button>
        </div>
    </div>

</form>